{% set imgPath = '/assets/img/projects/cognex/' %}
{% include 'partials/header.twig' with {
    'title': 'Cognex',
    'description': ''
} %}
<section>
    <h1 class="project-title">Cognex<span class="project-dates">2016</span></h1>
    <div class="summary">
        <h3>About the project</h3>
        <p>Cognex is a leading provider of industrial imaging technology. Essentially, they build high-tech cameras that can reliably scan packages as they travel through a warehouse, or visually check products as they leave the assembly line. They wanted to audit and then redesign their site to get better leads, and more sales.</p>


        <h3>Challenge</h3>
        <p>Most products sold by Cognex and their competitors are of similar quality. What makes Cognex unique is their excellent service and support. But their web site wasn't communicating that to prospective customers.</p>

        <h3>My role</h3>
        <ul>
            <li>Performed full UX audit, including audience analysis, competitive analysis, and heuristic evaluation</li>
            <li>Created wireframes and visual designs (desktop and mobile) for key landing pages</li>
        </ul>
    </div>
</section>

<section>
    <h2>With minimal client input, I had to define the different audiences for the site.</h2>
    <p>While the primary goal of this phase of the project was to audit the existing site and make recommendations on how to improve it, that had to be done in the context of the site's primary user groups. Due to timeline and budget constraints, this was based on existing client research and discussions with stakeholders. But nonetheless, we had a shared foundation from which to interpret later recommendations.</p>

    <figure>
        {%
            include 'partials/picture.twig'
            with {
                'baseURL': imgPath ~'personas',
                'alt': 'Proto-personas in detail.'
            }
        %}
        <figcaption>
            The four proto-personas, in detail. I chose to use the term "user segments" to indicate that these were based on stakeholder input and assumptions, not project-specific user research.
        </figcaption>
    </figure>
</section>

<section>
    <h2>I also looked at Cognex's competition, to see what we could learn from them.</h2>
    <p>On any project, it's important to evalate competitors, in order to understand the common denominator for what customers in a given space expect. It also shows how a company can differentiate itself, in areas where competitors are lacking. I focused on three types of competitors:</p>
    <ul>
        <li>Direct competitors, identified by the client</li>
        <li>Other imaging companies</li>
        <li>Other B2B companies who, like Cognex, sell their products via a sales team rather than online directly</li>
    </ul>

    <figure>
        {%
            include 'partials/picture.twig'
            with {
                'baseURL': imgPath ~'competitive-analysis',
                'alt': 'Part of the competitive analysis report.'
            }
        %}
        <figcaption>
            A sample page from the competitive analysis.
        </figcaption>
    </figure>
</section>

<section>
    <h2>I produced an extensive heuristic evaluation, but presented in a way that focused on next steps.</h2>
    <p>Because a user experience audit was the core of the project, this is where I spent most of my time. I uncovered as many usability issues as I could find, big and small, resulting in 40 pages of findings!</p>

    <figure>
        {%
            include 'partials/picture.twig'
            with {
                'baseURL': imgPath ~'heuristic-evaluation',
                'alt': 'One page from the heuristic evaluation report, about forms.'
            }
        %}
        <figcaption>
            Some examples of form-related issues from the existing site. I also added an appendix to the report that explained best practices for form design in more detail.
        </figcaption>
    </figure>

    <p>With such a detailed report, I used a few techniques to make it more digestible:</p>
    <ul>
        <li>Leading with a summary of the 10 most pressing issues to solve</li>
        <li>Categorizing all 72 documented issues into four quadrants, based on estimated impact and effort ("high impact / low effort" first, and so on)</li>
        <li>Including an appendix that went more in-depth on wide-ranging issues: form design, table design, and writing for the web</li>
    </ul>

</section>

<section>
    <h2>Coming off of the success of this report, I got a chance to put some of my ideas into practice.</h2>
    <p>After seeing the results of the user experience audit, the Cognex team was excited to see how these recommendations could be applied to site redesign. I was asked to create designs for five key pages, plus an improved top-level navigation, as well as an example of how the home page would display on mobile devices.</p>
    <p>Take a look on InVision at how the <a href="https://invis.io/AZNPZA0WFSD" rel="noreferrer noopener">desktop</a> and <a href="https://invis.io/8GNPZAIS6HW">mobile</a> screens turned out.</p>
    <figure>
        {%
            include 'partials/picture.twig'
            with {
                'baseURL': imgPath ~'home-page-redesign',
                'alt': 'Part of the proposed redesign of the home page.'
            }
        %}
        <figcaption>
            Just the beginning of the proposed redesign for the home page. <a href="https://invis.io/AZNPZA0WFSD" rel="noreferrer noopener">View all the redesigned pages</a> on InVision.
        </figcaption>
    </figure>

    <p>Cognex has their own internal teams working on design and development for their site, so they took things from here. But it does appear that the new site takes many of the recommendations from this project into account, and hopefully they're seeing a resulting increase in sales and customer satisfaction.</p>

</section>
{% include 'partials/footer.twig' %}
