{% set imgPath = '/assets/img/projects/door3/' %}
{% include 'partials/header.twig' with {
    'title': 'DOOR3',
    'description': ''
} %}
<section>
    <h1 class="project-title">DOOR3 <span class="project-dates">2016-2021</span></h1>
    <div class="summary">
        <p>I spent just about five years in total at DOOR3. I started as a contract UX designer in February 2016, was made full-time in May 2017, and was promoted to Senior UX Designer in December 2018.</p>
        <p>In addition to client projects, there are several ways in which I contributed to the overall success of the design team.</p>
    </div>
</section>

<section>
    <h2>I was an integral part of the sales process for projects involving design.</h2>
    <p>The sales team could count on me to walk potential clients through our most relevant work, explain our design process, and plan and estimate the effort needed to meet their unique needs.</p>
</section>

<section>
    <h2>I managed our team's tools and workflow.</h2>
    <p>When I started at DOOR3, the team was using Dropbox for version control and file storage, Sketch for UI design, InVision for prototyping, and Zeplin for developer handoff. (In 2018, our IT department had us trade out Dropbox for Google Drive.) In 2019, I led the switch from Google Drive to Abstract for version control of our Sketch files. I also coached the rest of the team on the version control process — committing often and writing meaningful commit messages was a new experience for most of the team. In early 2021, we transitioned to Figma, and I helped define how we would split work into projects, files, and pages, and how we would help the rest of the team, both internal and external, navigate our FIgma files.</p>
</section>

<section>
    <h2>I defined and documents our team's processes.</h2>
    <p>First in Google Slides, and later in Confluence, I documented the common activities and deliverables that make up a DOOR3 UX project. This allowed both new team members and contractors to quickly get up to speed with either the way a given task was done at DOOR3, in order to keep things consistent, or introduce those that they were unfamiliar with.</p>
</section>

<section>
    <h2>I created a design system that was intended to serve as a starting point for all client projects.</h2>
    <p>As a company, we found that each business analyst, each designer, and each front-end developer had their own assumptions about how even the most basic parts of the user experience should work. The DOOR3 Design System project sought to give every discipline a single starting point, for everything from color palettes and type scales, to UI components like dropdowns and datepickers, to flows like resetting your password or collecting credit card information.</p>
</section>

<section>
    <h2>Whenever I found a resource I thought was useful or interesting, I made sure to share it with the team.</h2>
    <p>Whether it was posting a link to an article in Slack, uploading an e-book I had purchased to our shared library, or adding a physical book I had purchased to our team bookshelf in the office, I was always on the look out for ways to share knowledge with my teammates.</p>
</section>
{% include 'partials/footer.twig' %}
